:focus {
  outline: none;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.href {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 33px);
  grid-auto-rows: 33px;
}

.board > button {
  border: 1px solid #999;
  margin-top: -1px;
  margin-left: -1px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
